.header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 40px;
  background-color: rgba(var(--DarkBlue), 1);
  height: 64px;

  z-index: 50;
  transition: top 0.2s linear;
}

.logo {
  color: rgba(var(--LogoColor));
  font-family: Nanum-angle;
  font-weight: 800;
}

.nav-wrapper {
}

.nav-menu {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  margin-right: 15px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
  color: rgba(var(--LogoColor));
}

.main {
  margin-top: 64px;
}

/* 검색 영역 */
.search-background {
  width: 100%;
  min-height: 300px;
  height: calc(100vh / 2.5);
  max-height: 360px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-inner-form {
  margin-top: 30px;
  position: relative;
  top: 0;
  left: 0;
}

.title {
  margin-bottom: 20px;
  z-index: 1;
  color: white;
}

.search-box > div.title > h2 {
  font-size: 3em;
  font-weight: 800;
}

.search-box > div.title > h3 {
  font-size: 2em;
  font-weight: 600;
}

.search {
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.inner-search {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 30px;
  padding: 10px 20px;
}

.submit-button {
  height: 46px;
  padding: 10px 26px;
  border: 0;
  background: linear-gradient(
    to right,
    rgba(var(--tmdbLightGreen), 1) 0%,
    rgba(var(--tmdbLightBlue), 1) 100%
  );
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: -1px;
  color: #fff;
}

#trend-section {
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 0 5%;
}
.section-title {
  margin-left: 30px;
}
.trend-movie-list {
  width: 100%;
  padding: 20px 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.item {
  width: 170px;
  margin-left: 40px;
  display: inline-block;
}

.image {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--imageBorderRadius);
  width: 100%;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  background: #dbdbdb;
  overflow: hidden;
}

.image a {
  display: inline-block;
  border: 0;
  width: 100%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
}

.content {
  width: 100%;
  padding-bottom: 0;
  padding: 13px 10px 12px;
  box-sizing: border-box;
  white-space: normal;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.content > h2 {
  line-height: 1.3;
  font-size: 1em;
  margin: 0;
  width: 100%;
  overflow-wrap: break-word;
  padding: 0;
  box-sizing: border-box;
  white-space: normal;
}
.content p {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
}
