<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./home.css" />
    <title>내 웹사이트</title>
  </head>
  <body>
    <!-- 네비게이션 바 -->
    <header>
      <h1>웹사이트 제목</h1>
      <nav>
        <ul>
          <li><a href="#homePage">홈</a></li>
          <li><a href="#moviePage">영화</a></li>
          <li><a href="#tvProgramPage">TV 프로그램</a></li>
          <li><a href="#animationPage">애니메이션</a></li>
        </ul>
      </nav>
    </header>
    <!-- 본문 -->
    <main>
      <section id="search">
        <h2>검색창</h2>
        <p>궁금한 영화나 TV 프로그램 또는 인물을 검색해보세요!</p>
      </section>

      <section id="trend">
        <h2>인기 급상승 컨텐츠!</h2>
        <p>요즘 인기가 급상승 중인 컨텐츠를 만나보세요!</p>
      </section>

      <section id="trailer">
        <h2>최신 예고편을 만나보세요!</h2>
        <ul>
          <li>예고편 1</li>
          <li>예고편 2</li>
          <li>예고편 3</li>
        </ul>
      </section>
    </main>

    <footer>
      <!-- 꼬리말 -->
      <p>&copy; 2024 내 웹사이트. 모든 권리 보유. made by 상일</p>
    </footer>
  </body>
</html>
